<!DOCTYPE html>
<html>
<head>
    <title>Welcome to [Your Company Name]!</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>Thank you for registering with [Your Company Name]!</p>
    <p>We're excited to have you on board.</p>
    <p>Your login credentials:</p>
    <ul>
        <li>Username: {{ username }}</li>
        <li>Password: (This will be hidden for security reasons. The user will need to reset their password upon first login)</li>
    </ul>
    <p>Visit our website: <a href="[Your Company Website Link]">[Your Company Website Link]</a></p>
    <p>[Your Company Overview]</p>
    <p>If you have any questions, please don't hesitate to contact us at [Your Company Email Address] or by phone at [Your Company Phone Number].</p>
    <p>Sincerely,</p>
    <p>The [Your Company Name] Team</p>
</body>
</html>